.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 2rem;
}

.upper-upper {
  width: 100%;
  border: 1px solid black;
}

.upper-lower {
  width: 100%;
  border: 1px solid black;
}

.lower {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.lower-left {
  width: 45%;
  border: 1px solid black;
}

.lower-right {
  width: 45%;
  border: 1px solid black;
}

