.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.upper-upper {
  width: 100%;
  border: 1px solid black;
}

.upper-lower {
  width: 100%;
  border: 1px solid black;
}

.lower {
  width: 90%;
  display: flex;
  justify-content: space-between;
  
}

.lower-left {
  width: 45%;
  border: 1px solid black;
}

.lower-right {
  width: 45%;
  border: 1px solid black;
}

.header {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
}

.header h2 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header h2::before,
.header h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #333;
  margin: 10px auto;
}